.recommended-posts {
  position: relative;
  display: block;
  margin-top: 30px;

  &:hover {
    opacity: 0.7;
  }

  &:last-child {
    margin-bottom: 30px;
  }

  .img-header__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(234, 76, 35, 0.59);
    color: #fff;
    width: 100%;
    padding: 10px 5px;

    span {
      font: 14px 'Play', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
